/* font-family: 'Alkatra', cursive;
font-family: 'Allan', cursive;
font-family: 'c', cursive;
font-family: 'Delicious Handrawn', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Mallanna', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
    /* fonts */
    --acn-title-font: 'Alkatra', cursive;
    --acn-subtitle-font: 'Fira Sans', sans-serif;
    --acn-heading-font: 'Alkatra', cursive;
    --acn-body-font: 'Fira Sans Condensed', sans-serif;

     /* colors */
     --acn-primary-color: rgba(41, 179, 173, 1);
     /* --acn-primary-color: rgba(7, 113, 135, 1); */
     --acn-secondary-color: rgba(61, 210, 204, 1);
     --acn-highlight-color: ;rgba(61, 210, 204, 1);
     --acn-dark-color: rgba(17, 17, 17, 1);
     /* --acn-light-color:  rgba(158, 233, 230, 1); */
     --acn-light-color:  rgba(196, 196, 196, 1);
     --acn-background-color: rgba(207, 244, 243, 1);
     /* --acn-background-color: rgba(196, 196, 196, 1); */
     --acn-checklist-text-color: rgba(136, 136, 136, 1); 
     --acn-bootstrap-info-color: rgba(84, 180, 211, 1); 
     /* Bootstrap Info Hex code  #54B4D3*/
     /* rgba(7, 113, 135, 1) */
     /* rgba(20, 174, 204, 1) */
     /* rgba(102, 220, 215, 1) */

     /* nav bar colors */
     /* --acn-nav-bg-color: rgb(33, 33, 33, .8); */
     --acn-nav-bg-color: rgba(17, 17, 17, 1);
     --acn-nav-toggler-color: var(--acn-highlight-color);
     --acn-nav-toggler-glow: rgba(33, 248, 246, 1);
     --acn-nav-link: rgba(33, 248, 246, 1);
     --acn-nav-link-glow: rgba(0, 20, 255, 1);

    /* form colors */
    --acn-nav-bg-color: var(--acn--secondary-color);
    --acn-formfocus-shadow: var(--acn--primary-color);
    --acn-form-background-color: var(--acn--background-color);

     /* text styles */
     --acn-title-color: var(--acn--dark-color);
     --acn-font-size: 1.2rem;
     --acn-font-weight: 400;
     --acn-line-height: 1.5rem;
}

/* font-family: 'Alkatra', cursive;
font-family: 'Allan', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Delicious Handrawn', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Mallanna', sans-serif;
font-family: 'Roboto', sans-serif; */

/*Start Sticky Footer*/
html,
body {
    max-width: 100vw!important;
    height: 100%;
}

body {
    display: flex;
    /*d-flex*/
    flex-direction: column;
    /*flex-column*/
    background-color: var(--acn-dark-color);
    font-family: var(--acn-body-font)!important;
    font-family: var(acn-font-size);
    font-family: var(acn-font-weight);
    font-family: var(acn-line-height);
    font-family: var(--acn-dark-color);
    font-family: var(--acn-background-color);
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}
/*End Sticky Footer*/

/* Element Overrides */

section {
    padding-left: 1rem;
    padding-right: 1rem;
}

h6, .h6,
h5, .h5,
h4, .h4,
h3, .h3,
h2, .h2,
h1, .h1 {
    font-family: var(--acn-heading-font);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--acn-title-color);
    letter-spacing: .1rem;
}

a {
    color: var(--acn-nav-link-glow); 
}

/* End Element Overrides */

/* Begin Main Elements */

#dev {
    color: var(--acn-background-color)!important;
}

#myName {
    font-size: 1.5rem;
    color: black;
    text-shadow: 1px 1px 2px rgba(33, 248, 246, 1);
}

#myRole {
    font-size: 1.25rem;
}

.heroSubtitles {
    font-size: 1rem;
    color: black;
    text-shadow: 2px 2px 3px var(--acn-light-color);
}

#bugTrackerlink {
    color: var(--acn-nav-link); 
}

#bugTrackerlink:hover {
    color: rgba(255, 79, 219, 1);
    transition: .4s;
}

#code-walkthrough-cta a {
    color: rgba(216, 39, 45, 1);
}

.sec-page {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.sec-page:nth-child(even) {
    background-color: var(--acn-background-color);
    background: linear-gradient(to bottom,
    rgba(20, 174, 204, 1) 0%,
    var(--acn-background-color) 50%,
    var(--acn-background-color) 50%,
    var(--acn-primary-color) 100%);    
}

.sec-page:nth-child(even) h2 {
    color: var(--acn-nav-link)!important;
    text-shadow: 2px 2px 3px black;
}

.sec-page:nth-child(odd) {
    background-color: var(--acn-light-color);
    background: linear-gradient(to bottom,
    var(--acn-primary-color) 0%,
    var(--acn-background-color) 50%,
    var(--acn-background-color) 50%,
    rgba(20, 174, 204, 1) 100%);
}

.sec-page:nth-child(odd) h2 {
    color: var(--acn-nav-link)!important;
    text-shadow: 2px 2px 3px black;
}

.sec-page:nth-last-child(2) h2 {
    color: var(--acn-nav-link)!important;
    text-shadow: 2px 2px 3px black;
}

.sec-page:nth-last-child(2) {
    background-color: var(--acn-light-color);
}

.sec-page:nth-last-child(2) h2.card-title {
    color: rgba(20, 174, 204, 1)!important;
    text-shadow: 1px 1px 2px black;
}
.sec-page:last-child {
    background-color: var(--acn-background-color);
}

.sec-page:last-child h2 {
    color: black!important;
    text-shadow: 1px 1px 2px rgba(33, 248, 246, 1)!important;
}

.profile-pic {
    border-radius: 20px;
    border: 1px solid;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}

#git-icon {
    color: #df4b33;
}

#bootstrap-icon {
    color: #7711f7;
}

#html-icon {
    color: #f16529;
}

#css-icon {
    color: #009ce6;
}

#js-icon {
    color: #fa9c28;
}

#c-sharp-icon {
    color: #8c50d7;
}

#dot-net-icon {
    color: #782379;
}

#vscode-icon {
    color: #0076bf;
}

#gimp-icon {
    color: #575040;
}

#visualstudio-icon {
    color: #6a1b99;
}

.sec-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--acn-dark-color);
    color: var(--acn-light-color);
    text-align: center;
    font-size: 1rem;
    line-height: 1.2rem;
}

.cta-span {
    padding-left: 1rem;
    padding-right: 1rem;
}

.cta-arrow {
    color: rgba(193, 0, 254, 1);
    font-size: 2rem;
}

.cta-arrow:hover {
    filter: brightness(1.5);
    transition: .4s;
}

.navbar-toggler-acn {
    color: var(--acn-nav-toggler-color);
    font-size: 1.5rem;
}

.navbar-toggler {
    color: var(--acn-nav-toggler-glow);
}

#mainNav {
    background: var(--acn-nav-bg-color);
    width: 100vw!important;
}

.nav-item .nav-link {
    color: var(--acn-background-color) !important;
}

.nav-item .nav-link:hover {
    color: var(--acn-nav-toggler-glow) !important;
}

/* Start: Main Header */
.mainHeader-wrapper {
    width: 65.5%;
    margin-top: 0;
    margin-left: 0;
    height: 100%;
}

.mainHeader {
    height: 200px;
    margin-top: 76px;
    background-image: url(/assets/rev-2369x783px-bg-laptop-colorful.jpg);
    box-shadow: 0 0 24px 24px rgba(41, 179, 173, 1) inset;
    background-repeat: no-repeat;
    background-position: right top;
    background-color: var(--acn-light-color);
}

.mainHeader-cover {
    margin-top: 76px;
    height: 400px;
    background-image: url(/assets/cityBG_2560.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;

}

.mainHeader-cover > .mainHeader-content {
    backdrop-filter: blur(lid;) brightness(90%);
}

.mainHeader-cover .mainTitle,
.mainHeader-content .subTitle {
    color: #111111;
}

.mainTitle, 
.subTitle {
    color: #FFFFFF!important;
}

.mainTitle {
    font-family: var(--acn-title-font);
    font-size: 2.5rem;
    line-height: 2rem;
}


.subTitle {
    font-family: var(--acn-subtitle-font); 
    line-height: 2rem;
    font-size: 1.5rem; 
    font-weight: 300;
    letter-spacing: .09rem;
}

.mainHeader-content {
    height: 100%;
    display: flex ;
    align-items: center;
}

/* End: Main Header */

.btn-primary {
    border: 3px solid;
    color: var(--acn-nav-link);
    --bs-btn-bg: var(--acn-dark-color);
    --bs-btn-border-color: var(--acn-bootstrap-info-color);
    --bs-btn-hover-bg: var(--acn-nav-link);
    --bs-btn-hover-border: var(--acn-nav-link-glow);
    --bs-btn-hover-color: var(--acn-nav-link-glow);
}

#formBox {
    background-color: var(--acn-background-color)!important;
    border: 3px solid var(--acn-nav-link);
    border-radius: 12px;
}

.form-label {
    font-weight: 600;
}

/* Start: Footer */
.socialicons {
    color: var(--acn-background-color); 
    font-size: 2rem;
    padding: .5rem;
    transition: color .25s ease;
}

.socialicons:hover {
    font-size: 2rem;
    color: var(--acn-nav-link);

}

footer {
    color: var(--acn-nav-bg-color);
}

.footer-main {
    /* bg color has to be set to the last 2 colors of linear gradient */
    background-color: var(--acn-dark-color);
}

.footer-cta {
    background-color: var(--acn-nav-link);
    border: 3px solid var(--acn-nav-link-glow);
    border-radius: 10px;
    width: 85%;
}

.ftr-cta-txt {
    font-family: var(--acn-body-font);
}

.copyright-text {
    color: var(--acn-background-color);
}

.footer-message {
    color: var(--acn-dark-color);
    letter-spacing: .1rem;
    font-size: 2rem;
}

.footer-bg-cta {
    /* linear gradient last 2 colors must match footer-main bg color */
    background: linear-gradient(to bottom,
    rgba(20, 174, 204, 1) 0%,
    var(--acn-background-color) 50%,
    var(--acn-background-color) 50%,
    var(--acn-dark-color) 100%);    
}

/* End: Footer */


/* Start: Media Queries */
/* X-Small devices (landscape phones, 576px and below) */
@media (max-width: 575px) {

    #singleSemicolon {
        display: none;
    }
     
    .mainHeader {
        background-image: url(/assets/rev-2369x783px-bg-laptop-colorful.jpg);
        height: 300px;
    }

    .mainTitle {
        font-size: 4.5 rem;
        line-height: 3.5 rem;
    } 

    .subTitle {
        font-size: 1.2 rem;
        line-height: .1 rem;
    }

    .mainHeader-wrapper {
        margin-left: 0px;
        margin-bottom: .5rem;
        padding-top: 3rem;
    }

    #angelParent {
        display: grid;
        grid-template-columns: 25% 75%;
        margin-bottom: .25rem;
        margin-top: 2rem;
    }
    
    #angel {
        display: grid;
        width: 100%;
        height: 3rem;
        padding-top: 1.25rem;
    }
    
    #semiColon-2 {
        margin: auto;
        width: 50%;
        margin-left: 2.5rem;
        margin-top: 5px;
    }

    .mainLogo {
        height: 3rem;
        width: 3rem;
    }

    #corral-nunez {
        height: 3rem;
        padding-top: .75rem;
    }

    #dev {
        font-family: var(--acn-subtitle-font); 
        font-size: 1.25rem; 
        font-weight: 500;
        letter-spacing: .025rem;
        margin: 10px 0 0 0;
        padding: 0;
        text-align: left;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .mainHeader {
        background-image: url(/assets/rev-2369x783px-bg-laptop-colorful.jpg);
        height: 400px;
    }

    .mainTitle {
        font-size: 4.5 rem;
        line-height: 3.5 rem;
    } 

    .subTitle {
        font-size: 1.2 rem;
        line-height: .1 rem;
    }

    .mainHeader-wrapper {
        width: 37.5%;
        margin-left: 0px;
        margin-bottom: .5rem;
        padding-top: 3rem;
    }

    #angelParent {
        display: grid;
        grid-template-columns: 25% 75%;
        margin-bottom: .25rem;
        margin-top: 2rem;
    }
    
    #angel {
        display: grid;
        width: 100%;
        height: 3rem;
        padding-top: 1.25rem;
    }
    
    #semiColon-2 {
        width: 100%;
        height: 3rem;
        width: 3rem;
        margin-left: 2.25rem;
        margin-top: .5rem;
        padding-left: .25rem;
        padding-top: .25rem;
    }

    .mainLogo {
        height: 2.5rem;
        width: 2.5rem;
    }

    #corral-nunez {
        height: 3rem;
        padding-top: .75rem;
    }

    #dev {
        font-family: var(--acn-subtitle-font); 
        font-size: 1.25rem; 
        font-weight: 500;
        letter-spacing: .025rem;
        margin: 10px 0 0 0;
        padding: 0;
        text-align: left;
    }

    #resumeBtn {
        width: 50%!important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    #myName {
        font-size: 1.75rem;
    }
    
    #myRole {
        font-size: 1.5rem;
    }

    #prof-pic-angel {
        display: flex;
        justify-content: center; 
    }


    .mainHeader {
        background-image: url(/assets/rev-2369x783px-bg-laptop-colorful.jpg);
        height: 400px;
    }

    .mainTitle {
        font-size: 4.5 rem;
        line-height: 3.5 rem;
    } 

    .subTitle {
        font-size: 1.2 rem;
        line-height: .1 rem;
    }

    .sec-cta {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .cta-arrow {
        font-size: 2.5rem;
    }

    #angelParent {
        display: grid;
        grid-template-columns: 25% 75%;
        margin-bottom: 10px;
        margin-top: 40px;
        max-height: 3rem;
    }
    
    #angel {
        display: grid;
        width: 100%;
        height: 3rem;
        margin-right: 0;
        margin-bottom: 0;
        padding-top: 1.5rem;
    }
    
    #semiColon-2 {
        margin: auto;
        width: 100%;
        margin-left: 40px;
        margin-top: 5px;
    }

    .mainLogo {
        display: grid;
        columns: 1fr;
        height: 50px;
        width: 50px;
    }

    #corral-nunez {
        height: 3rem;
        padding-top: 1rem;
    }

    #dev {
        font-family: var(--acn-subtitle-font); 
        font-size: 1.25rem; 
        font-weight: 500;
        letter-spacing: .025rem;
        margin: 10px 0 0 0;
        padding: 0;
        text-align: left;
    }

    #resume-btn {
        width: 33.33%!important;
    }

    .footer-cta {
        width: 50%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    #myName {
        font-size: 2rem;
    }
    
    #myRole {
        font-size: 1.75rem;
    }

    #prof-pic-angel {
        margin-left: 1rem;
    }

    .mainHeader {
        background-image: url(/assets/rev-2369x783px-bg-laptop-colorful.jpg);
        height: 400px;
        font-size: 4rem;
        line-height: 4.5rem;
    }

    #angelParent {
        display: grid;
        grid-template-columns: 25% 75%;
        margin-bottom: 10px;
        margin-top: 40px;
        max-height: 3rem;
    }
    
    #angel {
        display: grid;
        width: 100%;
        height: 3rem;
        margin-right: 0;
        margin-bottom: 0;
        padding-top: 1.5rem;
    }
    
    #semiColon-2 {
        margin: auto;
        width: 100%;
        margin-left: 30px;
        margin-top: 5px;
    }

    .mainLogo {
        display: grid;
        columns: 1fr;
        height: 50px;
        width: 50px;
    }

    #corral-nunez {
        height: 3rem;
        padding-top: 1rem;
    }

    #dev {
        font-family: var(--acn-subtitle-font); 
        font-size: 1.5rem; 
        font-weight: 500;
        letter-spacing: .025rem;
        margin: 15px 0 0 0;
        padding: 0;
        text-align: left;
    }

    #contact {
        /* margin: 0; */
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    #myName {
        font-size: 2rem;
    }
    
    #myRole {
        font-size: 2rem;
    }

    .mainHeader {
        background-image: url(/assets/rev-2369x783px-bg-laptop-colorful.jpg);
        height: 500px;
    }

    .mainTitle {
        font-size: 5rem;
        line-height: 4rem;
    }

    .subTitle {
        font-size: 1rem;
        line-height: .12rem;
    }

    .sec-cta {
        font-size: 2.2rem;
        line-height: 2.5rem;
        font-weight: 300;
    }

    .cta-arrow {
        font-size: 4rem;
    }

    .mainHeader-wrapper {
        height: 500px;
        margin-left: 0;
        margin-top: 2rem;
        padding-top: 5rem;
    }
    
    #angelParent {
        width: 20rem;
        height: 15rem;
        margin-top: 0;
        padding-top: 0;
    }
    
    #angel {
        width: 10rem;
        height: 4rem;
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 0;
        padding-top: 0;
    }

    #semiColon-2 {
        height: 5rem;
        width: 5rem;
        margin-left: 5rem;
        margin-top: -.5rem;
        padding-left: .25rem;
        padding-top: 0;
    }
    
    .mainLogo {
        height: 4.5rem;
        width: 4.5rem;
    }

    #corral-nunez {
        width: 25rem;
        height: 4rem;
        margin-left: 0;
        margin-top: 2rem;
        padding-top: 0;
    }
    
    #dev {
        padding: 16px 8px 20px lid;;
        font-size: 2rem; 
    }

    #contact {
        /* margin-left: lid;; */
    }

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    #prof-pic-angel {
        margin-left: 1.5rem;
    }

    .footer-cta {
        width: 33.333%;
    }
}
/* End: Media Queries */

